[submodule "src_ts/components/pages/interventions/intervention-tab-pages"]
	path = src_ts/components/pages/interventions/intervention-tab-pages
	url = https://github.com/unicef/intervention-tab-pages.git
	branch = master
[submodule "src_ts/components/pages/etools-pages-common"]
	path = src_ts/components/pages/etools-pages-common
	url = https://github.com/unicef/etools-pages-common.git
