:root,
:host {
  --sl-font-mono: Roboto, Noto, sans-serif;
  --sl-font-sans: Roboto, Noto, sans-serif;
  --sl-font-serif: Roboto, Noto, sans-serif;

  --primary-color: #0099ff;
  --primary-background-color: #ffffff;
  --secondary-background-color: #eeeeee;
  --medium-theme-background-color: #eeeeee;
  --light-theme-background-color: var(--paper-grey-50);

  --primary-text-color: rgba(0, 0, 0, 0.87);
  --secondary-text-color: rgba(0, 0, 0, 0.54);
  --default-btn-bg-color: rgba(0, 0, 0, 0.45);

  --header-color: #ffffff;
  --header-bg-color: #233944;
  --header-icon-color: rgba(250, 250, 250, 0.7);
  --nonprod-header-color: #a94442;
  --nonprod-text-warn-color: #e6e600;

  --expand-icon-color: #4d4d4d;

  --main-border-color: #c1c1c1;
  --light-divider-color: rgba(0, 0, 0, 0.12);
  --light-hex-divider-color: #b8b8b8;
  --dark-divider-color: rgba(0, 0, 0, 0.4);
  --darker-divider-color: #9d9d9d;

  --dark-icon-color: rgba(0, 0, 0, 0.65);
  --light-icon-color: rgba(255, 255, 255, 1);

  --side-bar-scrolling: visible;

  --success-color: #72c300;
  --error-color: #ea4022;

  --add-button-color: var(--success-color);
  --icon-delete-color: var(--error-color);

  --primary-shade-of-green: #1a9251;
  --primary-shade-of-red: #e32526;
  --primary-shade-of-orange: orange;
  --light-hex-divider-color: #b8b8b8;

  --info-color: #cebc06;
  --light-info-color: #fff176;
  --lightest-info-color: #fef9cd;
  --warning-background-color: #fff3cd;
  --warning-color: #856404;
  --warning-border-color: #ffeeba;

  --error-box-heading-color: var(--error-color);
  --error-box-bg-color: #f2dede;
  --error-box-border-color: #ebccd1;
  --error-box-text-color: var(--error-color);
  --primary-color-hover: #027ac9;
  --default-btn-bg-hover-color: rgba(0, 0, 0, 0.55);

  --sl-color-primary-600: var(--primary-color);
  --sl-color-primary-500: var(--primary-color-hover);
  --sl-color-success-600: var(--ternary-color);
  --sl-color-neutral-600: var(--default-btn-bg-color);
  --sl-color-neutral-500: var(--default-btn-bg-hover-color);
  --sl-color-danger-600: var(--error-color);

  --gray-06: rgba(0, 0, 0, 0.06);
  --gray-20: rgba(0, 0, 0, 0.2);
  --gray-50: rgba(0, 0, 0, 0.5);
  --gray-light: rgba(0, 0, 0, 0.38);

  --ecp-header-color: var(--primary-text-color);

  --etools-dialog-primary-color: #ffffff;
  --etools-dialog-contrast-text-color: var(--primary-text-color);

  --paper-input-container-label: {
    color: var(--secondary-text-color, #737373);
  }
  --paper-input-container-label-floating: {
    color: var(--secondary-text-color, #737373);
  }
  --paper-input-prefix: {
    color: var(--secondary-text-color, #737373);
    margin-inline-end: 10px;
  }
  --esmm-external-wrapper: {
    width: 100%;
    margin: 0;
  }
  --paper-checkbox-checked-color: var(--primary-color);
  --paper-checkbox-unchecked-color: var(--secondary-text-color);
  --paper-radio-button-checked-color: var(--primary-color);
  --paper-radio-button-unchecked-color: var(--secondary-text-color);
  --basic-btn-style: {
    width: auto;
    margin: 0;
    color: var(--primary-color);
    padding: 0 5px 0 0;
    font-size: 14px;
    font-weight: bold;
  }

  --paper-item: {
    cursor: pointer;
  }

  *:focus:not(etools-icon-button):not(sl-radio):not(comments-panels) {
    outline: 0;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4);
  }

  --paper-button-flat-keyboard-focus: {
    outline: 0;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.34), 0 1px 18px 0 rgba(0, 0, 0, 0.32), 0 3px 5px -1px rgba(0, 0, 0, 0.6);
  }

  --paper-button-raised-keyboard-focus: {
    outline: 0;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.34), 0 1px 18px 0 rgba(0, 0, 0, 0.32), 0 3px 5px -1px rgba(0, 0, 0, 0.6);
  }

  --epd-profile-dialog-border-b: solid 1px var(--dark-divider-color);
}
